<div class="container">
  <mat-tab-group>
    <mat-tab label="我浏览过的报告">
      <div class="scan-header">
        <mat-form-field appearance="fill" style="width: 400px;">
          <mat-label>Enter Target Repository</mat-label>
          <input matInput [(ngModel)]="repository" placeholder="https://gitee.com/example_user/example_repo" required [formControl]="repoControl">
          <mat-error *ngIf="repoControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Branch</mat-label>
          <input matInput  [(ngModel)]="branch" placeholder="master" required [formControl]="branchControl">
          <mat-error *ngIf="branchControl.invalid">{{getBranchErrorMessage()}}</mat-error>
        </mat-form-field>
          <button mat-raised-button color="primary" (click)="scan()" [disabled]="scanning">
            <span [hidden]="scanning">Scan</span>
            <mat-spinner [hidden]="!scanning" diameter="32"></mat-spinner>

          </button>
      </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Report ID</th>
          <td mat-cell *matCellDef="let element">
            <a [href]="'/report/' + element.id" target="_blank">{{element.id}}</a>
          </td>
        </ng-container>


        <ng-container matColumnDef="repo">
          <th mat-header-cell *matHeaderCellDef> Repository</th>
          <td mat-cell *matCellDef="let element">
            <a [href]="element.repo" target="_blank">{{element.repo}}</a>

          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef> Branch</th>
          <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
        </ng-container>

        <ng-container matColumnDef="repoBranchHash">
          <th mat-header-cell *matHeaderCellDef> Commit Hash</th>
          <td mat-cell *matCellDef="let element">
            <a [href]="'/report/' + element.id" target="_blank">{{element.repoBranchHash}}</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons #page></mat-paginator>

    </mat-tab>
    <mat-tab label="我浏览过的License">
    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> License Id</th>
        <td mat-cell *matCellDef="let element">
          <a [href]="'/license/' + element.id" target="_blank">{{element.id}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element">
          <a [href]="'/license/' + element.id" target="_blank">{{element.name}}</a>

        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="spdxName">
        <th mat-header-cell *matHeaderCellDef>Spdx Name</th>
        <td mat-cell *matCellDef="let element">
          <a [href]="'/license/' + element.id" target="_blank">{{element.spdxName}} </a> </td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef>Tags</th>
        <td mat-cell *matCellDef="let element">
          <span *ngFor="let lmt of element.licenseMainTags" style="margin-right: 4px;">#{{lmt.mainTag.name}}</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons #page2></mat-paginator>
    </mat-tab>
      <mat-tab label="我的看板"> <p class="right">管理员权限能查看相应的看板</p></mat-tab>
  </mat-tab-group>
</div>
