<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>登录</mat-card-title>
    <mat-card-subtitle>请选择登录方式</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <button mat-raised-button color="primary" (click)="goToLink(giteeAuthURL)"><img src="/assets/icons/logo-black.svg" style="width:90px">&nbsp;&nbsp;Continue with Gitee </button>
    <button mat-raised-button color="primary" (click)="goToLink(githubAuthURL)"><img src="/assets/icons/logo-github.png" style="width:90px" >&nbsp;&nbsp;Continue with Github</button>
  </mat-card-content>
</mat-card>
