<div class="header">
  <div class="container">
    <div class="title">
      {{ license.name }}
    </div>
    <div class="sub-title">
      {{ license.licenseType.name }}  <span class="free" *ngIf="license.free">free</span>
    </div>
  </div>
</div>
<div class="container">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Summary">

      <div class="summary small">
        <mat-card>
        <div class="title">
          Quick Summary
        </div>
        <div class="body">
          {{license.summary }}
        </div>
        </mat-card>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <app-feature-tags-box fxFlex="30" tagType="can" [featureTags]="license.canFeatureTags"></app-feature-tags-box>
        <app-feature-tags-box fxFlex="30" tagType="cannot" [featureTags]="license.cannotFeatureTags"></app-feature-tags-box>
        <app-feature-tags-box fxFlex="30" tagType="must" [featureTags]="license.mustFeatureTags"></app-feature-tags-box>
      </div>


    </mat-tab>
    <mat-tab label="Full Text">
      <div class="full-text wider">
      <mat-card>
        <div class="title">
          Full Text
        </div>
      <div style="white-space:pre-wrap">
        {{license.fullText}}
      </div>
      </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

