.header {
  height:160px;
  background-color:#3f51b5;
  color: #FFFFFF;
  .title {
    padding-top: 50px;
    font-size: 2em;
    line-height: 1.5em;
  }
  border-bottom: 1px solid #FFFFFF;
  .free {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 3px 6px;
    margin-left: 30px;
  }
}

.summary, .full-text {
  &.small {
    width: 60%;
  }
  &.wider {
    width: 80%;
  }
  margin: 30px auto;
  .title {
    padding: 0.5em 0em 1em 0em;
    font-size: 3em;
    font-weight: bold;
  }
  .body {
    font-size: 1.1em;
    line-height: 1.4em;
    padding-bottom: 1em;
  }
}

.license-main-tag {
  margin: 0 10px;
}

.tooltip-warning {
  background: #ff4081;
}

