.report-waiting {
  width: 1040px;
  margin: 60px auto 0px auto;
  .waiting-image {
    display: block;
    width: 300px;
    margin: 20px auto;
  }
}

.report {
  width: 1040px;
  margin: 60px auto 0px auto;
  .waiting-image {
    display: block;
    width: 300px;
    margin: 20px auto;
  }
}
.countdown {
  color: #ff4081;
  font-size: 1.6em;
  margin-left: 5px;
  margin-right: 5px;
}

