<div class="banner">
  <div class="container">
    <div class="app-name">
      貂蝉 <span style="font-size: 50px;">License Show Room</span>
    </div>
    <div class="app-description">
      Anything important you should know about licenses
    </div>
    <div class="action">
    <button mat-raised-button (click)="goToLink('https://gitee.com/openeuler/compliance')">Gitee</button>
    <button mat-raised-button (click)="goToLink('/api_test')">Read API</button>
    </div>
  </div>

</div>
<div class="container">
  <div fxLayout="row" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutAlign.lt-md="space-around stretch" *ngIf="!loading">
    <app-license-list title="Featured" fxFlex="30" title="featured" [licenses]="featuredLicenses" fxHide.lt-md></app-license-list>
    <app-license-list title="Most POPULAR" fxFlex="30" [licenses]="popularLicenses" fxFlex.lt-md="80"></app-license-list>
    <app-license-list title="NEWEST" fxFlex="30" [licenses]="newLicenses" fxHide.lt-md></app-license-list>


  </div>
  <mat-spinner *ngIf="loading" diameter="50" style="margin: auto;"></mat-spinner>
</div>
