.header-image {
  background-image: url('/assets/images/alec-z.png');
  background-size: cover;
  background-position: center center;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin: 0 auto;
}
