<div class="container" style="padding-top:110px; padding-bottom: 20px;" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="20px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Gao Kun</mat-card-title>
      <mat-card-subtitle>King Gao</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="header-image" style="background-image:url('/assets/images/gaokun.png')"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button onClick="window.open('https://github.com/king-gao')"><fa-icon [icon]="faGithub"></fa-icon> Github</button>
    </mat-card-actions>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>Ma Quanyi</mat-card-title>
      <mat-card-subtitle>Quanyi Ma</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="header-image" style="background-image:url('/assets/images/maquanyi.png')"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button onClick="window.open('https://github.com/genedna')"><fa-icon [icon]="faGithub"></fa-icon> Github</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Li Zi</mat-card-title>
      <mat-card-subtitle>Clement Li</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="header-image" style="background-image:url('/assets/images/lizi.png')"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button onClick="window.open('https://github.com/robekeane')"><fa-icon [icon]="faGithub"></fa-icon> Github</button>
    </mat-card-actions>
  </mat-card>


  <mat-card >
    <mat-card-header>
      <mat-card-title>Zheng Zhipeng</mat-card-title>
      <mat-card-subtitle>Alec Zheng</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="header-image"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button onClick="window.open('https://github.com/alec-z')"><fa-icon [icon]="faGithub"></fa-icon> Github</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
  <mat-card-header>
    <mat-card-title>Yang Cong</mat-card-title>
    <mat-card-subtitle>Smarts Young</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="header-image" style="background-image:url('/assets/images/yangcong.png')"></div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button onClick="window.open('https://github.com/SmartsYoung')"><fa-icon [icon]="faGithub"></fa-icon> Github</button>
  </mat-card-actions>
  </mat-card>
</div>
