<mat-toolbar color="primary" class="nav-toolbar">
  <button mat-button routerLink="/"><mat-icon>assignment</mat-icon> Licenses Showroom</button>
  <div class="search-input-group-auto" matAutocompleteOrigin #origin="matAutocompleteOrigin">
  <div class="search-input-group">
    <input class="search-input" placeholder="Lookup Licenses"
           matInput
           [matAutocomplete]="auto"
           [ngModel]="name"
           (ngModelChange)="filterName($event)"
           [matAutocompleteConnectedTo]="origin"
    /><mat-icon *ngIf="!loading">search</mat-icon>
    <mat-spinner *ngIf="loading" diameter="26" color="accent"></mat-spinner>
  </div>
  </div>

  <div class="flex-spacer"></div>
  <div fxHide fxShow.gt-sm="">
    <button mat-button (click)="goToLink('/api_test')" routerLinkActive="mat-accent">API</button>
    <button mat-button routerLink="/authors" routerLinkActive="mat-accent">作者</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu  #menu="matMenu" fxHide>
  <button  mat-menu-item routerLink="/browser">
    浏览
  </button>
  <button  mat-menu-item routerLink="/browser">
    API
  </button>
  <button  mat-menu-item routerLink="/author">
    作者
  </button>
</mat-menu>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let license of licenses$ | async" [value]="license.name" [routerLink]="['/license', license.id]">
    {{license.name}} ({{license.spdxName}})

  </mat-option>
</mat-autocomplete>
